@using App_LocalResources

@{
	ViewBag.Title = "Home Page";
}

<h1>
	Case Tracker
</h1>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">@GlobalRes.String1</h1>
		<p class="lead">@GlobalRes.String2!</p>
		<hr class="my-4">
		<p>@GlobalRes.String3</p>
		<p>
			@GlobalRes.String4 @Html.ActionLink(GlobalRes.String7, "Index", "Cases"),
			@GlobalRes.String5 @Html.ActionLink(GlobalRes.String8, "Create", "Cases") @GlobalRes.String6
		</p>

		<p>
			@GlobalRes.String9 @Html.ActionLink(GlobalRes.DashboardAitiatiki, "Dashboard", "Home")
			@GlobalRes.String10</p>
	</div>
	
</div>
