@model IEnumerable<CaseTracker.Models.Zone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TranslatedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostFull)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostClean)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TranslatedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostFull)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostClean)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
