@model CaseTracker.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attorney.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attorney.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Court.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Court.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAssignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAssignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfSubmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSubmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
